<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Smile_MobileDashboard>
            <version>0.1.0</version>
        </Smile_MobileDashboard>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mobile before="Mage_XmlConnect_Adminhtml">Smile_MobileDashboard_Adminhtml</mobile>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <global>
        <blocks>
            <mobile>
                <class>Smile_MobileDashboard_Block</class>
            </mobile>
        </blocks>
        <models>
            <mobile>
                <class>Smile_MobileDashboard_Model</class>
                <resourceModel>mobile_mysql4</resourceModel>
            </mobile>
            <mobile_mysql4>
                <class>Smile_MobileDashboard_Model_Mysql4</class>
            </mobile_mysql4>
        </models>
        <helpers>
            <mobile_dashboard>
                <class>Smile_MobileDashboard_Helper</class>
            </mobile_dashboard>
        </helpers>
    </global>

   <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <mobile>
                            <title>Mobile Dashboard</title>
                            <sort_order>1</sort_order>
                        </mobile>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

</config>
